main {
  margin: 0;
  top: 0;
  background-color: rgba(54, 69, 79, 1);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
}

header {
  text-align: center;
  font-family: sans-serif;
}

header h1 {
  font-size: 40px;
}

header p {
  font-style: italic;
}

#container {
  max-width: 800px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.5);
}

#container h2 {
  text-align: center;
}

#selections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 0 2em;
}

#selections img{
  height: auto;
  width: 100%;
  border-radius: 5px;
}

#RockSelection, #ScissorSelection, #PaperSelection  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#RockSelection button, #PaperSelection button, #ScissorSelection button {
  background-color: rgba(54, 69, 79, 1);
  border-radius: 5px;
  margin: 1em auto;
  padding: .5em 2em;
  color: white;
  cursor: pointer;
}
